@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import "./variables";
@import "./mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  background-color: $main-bg;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  margin: auto;
}

.main {
}

.line {
  background-color: $lightgrey;
  box-shadow: 0px 1px 6px -4px #18274b33;
  margin-top: 12px;

  &.responsive {
    @include tab-land {
      margin: 0 20px 0;
    }

    @include mobile {
      margin: 0 10px 0;
    }
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $highlight;
  margin-top: 40px;

  @include tab-land {
    margin: 20px 20px 0;
  }

  @include mobile {
    margin: 10px 10px 0;
  }

  span {
    font-size: 28px;
    font-weight: 700;
    flex: 1;
    text-transform: uppercase;

    @include tab-land {
      font-weight: 500;
    }
  }
}

.breadcrumb {
  margin: 20px auto 0;
  width: 80%;

  @include tab-land {
    width: 100%;
    padding: 0 20px;
  }

  @include mobile {
    margin: 4px 10px 0;
    padding: 0;
  }
}
