.checkout {
  width: 80%;
  margin: auto;
  color: $txt-main-color;

  @include tab-land {
    width: 100%;
  }

  .container {
    width: 80%;
    display: flex;
    padding: 12px 0 0;

    @include tab-land {
      width: 100%;
      padding: 0 20px;
      flex-direction: column;
    }

    @include tab-land {
      padding: 0 10px;
    }

    @include mobile {
        padding: 0 10px;
      }

    .check {
      margin: -2px 0 8px;
    }
  }

  &__back {
    width: 80%;
    margin: 12px auto;
    @include flex(center, left);
    cursor: pointer;
    transition: 0.4s all;
    position: relative;

    @include tab-land {
      width: 100%;
      padding: 0 20px;
    }

    span {
      margin-left: 8px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 500;
    margin-top: 8px;
  }

  &__information {
    flex: 1;
    margin-right: 40px;

    @include tab-land {
      width: 100%;
      display: block;
      margin-right: 0;
      order: 2;
    }

    &__section {
      margin-bottom: 20px;

      &__navigation {
        color: $txt-second-color;
        font-size: 1.5rem;

        a {
          font-weight: 700;
          color: $primary-color;
          text-decoration: underline;
        }
      }

      &__input {
        width: 100%;
        margin: 16px 0;

        &__select {
          width: 100%;
        }
      }

      &__radio {
        background-color: #fff;
        border: 1px solid #d9d9d9;
        padding: 8px;
      }
    }

    &__button {
      @include flex(center, center);
      width: 100%;
      height: 48px;
      background: $primary-color;
      border-radius: 4px;
      color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
      cursor: pointer;
      margin: 28px 0;
      text-transform: uppercase;
    }
  }

  &__order {
    flex: 1;
    margin-left: 40px;

    @include tab-land {
      width: 100%;
      display: block;
      margin-left: 0;
      order: 1;
    }

    &__info {
      width: 100%;
      display: flex;
      margin: 12px 0;

      &__label {
        flex: 1;
        font-size: 1.7rem;
      }

      &__content {
        flex: 1;
        justify-content: flex-end;
        font-size: 1.8rem;
        font-weight: 500;
        display: flex;
      }

      &.hide {
        display: none;
      }
    }

    &__total {
      color: $txt-second-color;
      @include flex(center, unset);
      margin: 8px 0;

      &__label {
        flex: 1;
        font-weight: 500;
        font-size: 2.4rem;
      }

      &__content {
        flex: 1;
        justify-content: flex-end;
        font-size: 2.8rem;
        font-weight: 700;
        display: flex;
      }
    }
  }
}
