.section {
  margin-bottom: 0;
  padding: 20px 0;

  @include tab-port {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 0;
    padding: 10px 0;
  }

  & > * ~ * {
    margin-top: 20px; //con va ngang hang
  }

  &__title {
    width: 1228px;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: left;
    color: $highlight;

    @include tab-land {
      padding: 0 20px;
      width: 100%;
    }

    @include tab-port {
      font-size: 2.4rem;
    }

    @include mobile {
      font-size: 2rem;
      font-weight: 500;
      padding: 0 10px;
    }
  }
}
